*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #525252;
    color: white;
    margin-top: 10px;
    letter-spacing: 2px;
}

.top {
    text-align: center;
}
.text-inp {
    border: 1px solid white;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 4px;
    height: 30px;
}

.add-btn {
    border: 1px solid white;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 4px;
    transition: .3s;
    font-size: large;
    height: 30px;
    width: 30px;
}
.add-btn:hover {
    background-color: #525252;
}

.bottom {
    margin: 10px 25px;
}
.li-el {
    margin-top: 10px;
    margin-left: 10px;
    font-size: large;
    display: inline-block;
    font-family: sans-serif;
    color: white;
}

.del-btn {
    background-color: #a80000;
    border: 0;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    transition: 0.15s;
    padding: 2px 5px;
}

.del-btn:hover {
    background-color: red;
}

.contact-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
    transition: 0.5s;
    padding: 5px 10px;
    border: 1px solid black;
}
.contact-btn:hover {
    border: 1px solid white;
    border-radius: 3px;
}
.contact-btn:active {
    transition: 0.10s;
    transform: translate(5px, 5px);
}

.active {
    color: rgb(27, 255, 27);
    text-decoration: line-through;
}

.note {
    color: white;
    font-size: medium;
    font-weight: bold;
}
.black {
    height: 100px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    text-align: center;
}